NET "inRST"				LOC = AE24;

NET "inBUTT"   		LOC = AA24;

NET "oLED_DATA(0)" 	LOC = N24;
NET "oLED_DATA(1)" 	LOC = N23;
NET "oLED_DATA(2)" 	LOC = M24;
NET "oLED_DATA(3)" 	LOC = L24;
NET "oLED_DATA(4)" 	LOC = L23;
NET "oLED_DATA(5)" 	LOC = K24;
NET "oLED_DATA(6)" 	LOC = H24;
NET "oLED_DATA(7)" 	LOC = D24;